<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="totalUsers" [nzTitle]="'Active Users'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="totalRecipes" [nzTitle]="'Recipes in database'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="totalIngredients" [nzTitle]="'Total of ingredients'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="totalSavedMenus" [nzTitle]="'Total of saved menus'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="totalSavedShopList" [nzTitle]="'Total of shop list'"></nz-statistic>
    </nz-col>
</nz-row>