<div  class="stats">
    <div  class="roww">

      <div nz-col  class="card">
        <nz-card nzTitle="Total Clients" style="font-size:2rem;">
          <p>{{totalClients}}</p>
        </nz-card>
      </div>
      <div nz-col  class="card">
        <nz-card nzTitle="Total Items" style="font-size:2rem;">
          <p>{{totalItems}}</p>
        </nz-card>
      </div>
      <div nz-col  class="card">
        <nz-card nzTitle="Total Orders" style="font-size:2rem;">
          <p>{{totalOrders}}</p>
        </nz-card>
      </div>
    </div>
  </div>