@import "./src/variables.scss";

.single-meal {
    width: 100%;
    margin-bottom: 5px;
    @include respond-below(sm) {
        min-width: 0vw;
        overflow-x: hidden;
    }
}
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
   
}
.addNewMenu {
    cursor: pointer;
    font-size: 4rem;
    position: absolute;
    right: 2rem;
    top:10px;
    color: $color-3;
    @include respond-below(sm) {
        top: unset;
        bottom: 0;
        right: 1rem;
    }
}
.addNewMenu:hover{
    color:$color-3-opacity;
transition: 0.3s;
}
.passenger-input,
.ant-form-inline .ant-form-item {
    width: 100%;
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    i {
        margin: 0 10px;
    }
    i:hover {
        cursor: pointer;
        color: blue;
        transition: 0.3s;
    }
}
.menu-item {
    .edit-icon{
        z-index: 1;
        position: absolute;
        left: 45%;
        @include respond-below(sm) {
            left: 80%;
        }
    }
    @include respond-below(sm) {
       width: 100% !important;   
       span{
           font-size: 0.6em;
       }
      }
    cursor: pointer;
    width: 50%;
    height: 5rem;
    font-size: 2em;
    background-color: $color-1-opacity;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
    span {
        margin-left: 1rem;
    }
    .overflow-gradient {
        background-color: $color-4;
        max-width: 20vw;
        width: 15vw;
        height: 100vh;
        transform: rotate(335deg);
        transition: 0.2s;
    }
}
.menu-item:hover {
    .overflow-gradient {
        max-width: 17vw;
        width: 17vw;
        transition: 0.3s ease-in-out;
    }
}
.menu-visible-actions{
    margin-top: 1rem;
    @include respond-below(sm) {
        display:flex;
        flex-direction: column;
    }
    a{
        margin: 1rem 1rem 0 0 ;
        @include respond-below(sm) {
            margin:0 0 1rem 0;
            button{
                width: 100%;
            }
        }
    } 
}
.container-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .single-day {
        border: 1px solid lightgrey;
        padding: 1rem;
        border-radius: 5px;
        min-width: 10vw;
        margin-top: 1rem;
        margin-right: 1rem;
        @include respond-below(sm) {
            margin-right: 0;
            width: 100%;
        }
        .day-title{
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
        }
        .day-meals{
            padding-top: 1rem;
        }
    }
}


.ant-modal{
    @include respond-below(sm) {
       width: 90vw !important;
    } 
}