<h1 *ngIf="menusAreNotAvaliable == true">You do not have any saved menus yet</h1>
<a *ngIf="!showTable" (click)="showModal()" class="addNewMenu"><i nz-icon nzType="plus-circle"
    nzTheme="outline"></i></a>
<div *ngIf="showTable==true">

  <h1>{{tempTitle}}</h1>
  <div class="container-days">
    <div class="single-day" *ngFor="let item of daysTable; let daysIndex = index">
      <div class="day-title">{{item.day}}</div>
      <div class="day-meals">

        <ul>
          <li *ngFor="let day of item.allMeals; let mealInDayIndex = index">

            <button nz-button nzType="dashed" class="single-meal"
              (click)="openRecipesSelect(day,daysIndex,mealInDayIndex)">{{day.mealTitle}}</button>

            <span (click)="openRecipesSelect(day,daysIndex,mealInDayIndex,'editing')"><i nz-icon nzType="edit"
                nzTheme="outline"></i></span>

            <span (click)="deleteMenu(daysIndex,mealInDayIndex)"><i nz-icon nzType="delete"
                nzTheme="outline"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="menu-visible-actions">

    <a class="saveList" nz-popconfirm nzPopconfirmTitle="Are you sure to create new shopping list ?"
      nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" (click)="saveList()">
      <button nz-button nzType="dashed"><i nz-icon nzType="save" nzTheme="outline"></i>Create new shopping list</button>
    </a>

    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this menu?" nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="deleteSingleMenu()"> <button nz-button nzType="dashed"><i nz-icon nzType="delete"
          nzTheme="outline"></i>DeleteMenu</button>
    </a>
    <a > <button nz-button nzType="dashed" *ngIf="showTable" (click)="backToPreviousPage()"><i nz-icon nzType="rollback"
        nzTheme="outline"></i> Back to all saved menu page</button></a>
  </div>

</div>

<ul *ngIf="!showTable">
  <li *ngFor="let item of activeMenuListToDisplay; let i = index">
    <div (click)="showMenu(i)" class="menu-item">
      <span>
        Menu: {{item.menuTitle}}
      </span>
      <div class="overflow-gradient"></div>

    </div>
  </li>
</ul>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Create new menu" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  class="createNewMenuModal">

  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
      <nz-form-label> Menu title</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group>
          <input formControlName="title" nz-input placeholder="Tytuł" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label> Please input how many days each week</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group>
          <input formControlName="qtyDays" nz-input placeholder="max 8" type="number" nzMax="8" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label> Please input how many weeks</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group>
          <input formControlName="qtyWeeks" nz-input placeholder="max 8" type="number" nzMax="8" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label> Please input how many meals each day</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group>
          <input formControlName="qtyMeals" nz-input placeholder="Max 6" type="number" nzMax="6" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

  </form>

</nz-modal>

<nz-modal [(nzVisible)]="isVisibleOpenRecipesSelect" nzTitle="Add new dish" (nzOnCancel)="handleCancel()"
  class="passenger-input" (nzOnOk)="updateRecipes()">

  <form nz-form [nzLayout]="'inline'" [formGroup]="validateFormAddRecipe" (ngSubmit)="submitForm()">
    <nz-form-item>

      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Wybierz danie" class="passenger-input"
        formControlName="selectToUpdate">
        <nz-option *ngFor="let recipe of listOfRecipes " nzValue="{{recipe.id}}" nzLabel="{{recipe.title}}">
        </nz-option>
      </nz-select>

    </nz-form-item>

  </form>
</nz-modal>

<nz-alert nzType="success" *ngIf="deletedRecipe" nzMessage="Pomyślnie usunięto przepis" nzShowIcon></nz-alert>