<div class="showcase">
    <div class="container">
       
        <div class="items">


            <h1>CookBalance App</h1>
            <div class="container-buttons">
                <button nz-button nzType="primary" [routerLink]="['/login']">Login</button>
                <button nz-button nzType="default" [routerLink]="['/register']">Register</button>
            </div>
        </div>
    </div>


    <video src="../../../assets/video.mp4" muted loop autoplay></video>
    <div class="overlay">

    </div>
</div>