<div class="no-shopping-list" *ngIf="noShoppingList == true">
    You don't have saved shopping list yet.
</div>

<h1 *ngIf="showList == true">Shopping list: {{listTitle}}</h1>
<ul class="list-shopList" *ngIf="showList!=true">
    <li *ngFor="let item of shopList;let index = index">
        <div class="single-list" (click)="showCheckList(item,index)">
            <span>Shopping list: {{item.listTitle}} </span>
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
            <div class="overflow-gradient"></div>
        </div>
    </li>
</ul>
<ul class="list-ingredients" *ngIf="showList==true">

    <li *ngFor="let item of shopListToDisplay;let index = index">
        <label nz-checkbox [ngModel]=item.checked (click)="checkItem(item,index)">{{item.ingredientDetails.product }} -
            {{item.ingredientQty}} {{item.ingredientDetails.unit}}</label>

    </li>
    <li>
        <a *ngIf="showList==true" nz-popconfirm nzPopconfirmTitle="Czy na pewno usunąć tą listę zakupów?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteShopList()"><button class="deleteButton" nz-button nzType="dashed"><i nz-icon
                    nzType="delete" nzTheme="outline"></i>Delete shopping list</button>
        </a>
    </li>
    <li>
        <button class="deleteButton" nz-button nzType="dashed" (click)="returnLink()"><i nz-icon nzType="rollback" nzTheme="outline"></i>Back to shopping list page</button>
    </li>
</ul>