p {
  margin: 0;
}

.stats {
  margin: 0 auto;
}

.roww {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.card {
  margin-bottom: 4rem;
  width: 350px;
  min-width: 100px;
  height: 120px;
}
