span{
  cursor: pointer;
  margin-bottom: 5px;
}
span:hover{
  color:black;
}
.itemsToEdit{
  display: flex;
  flex-direction: column;
  .item{
    margin-top:10px
  }
}
.passenger-input{
  width: 30vw;
}