<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4" nzFor="client" >Client</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="20" nzErrorTip="Please select client!">
      <nz-select id="client" formControlName="client" nzPlaceHolder="Select client" >
        <nz-option *ngFor="let client of clients;" nzValue="{{client.clientName}}" nzLabel="{{client.clientName}}" ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngFor="let control of listOfControl; let i = index">
    <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i == 0" [nzFor]="control.controlInstance">Items </nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i == 0 ? 0 : 4"
      nzErrorTip="Please select item to order.">


        <nz-select nzPlaceHolder="Select a option and change input text above" class="passenger-input"  [formControlName]="control.controlInstance" [attr.id]="control.id">
          <nz-option *ngFor="let item of ItemsData;" nzValue="{{item.product}}" nzLabel="{{item.product}}" ></nz-option>
        </nz-select>


      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
      <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addField($event)">
        <i nz-icon nzType="plus"></i>
        Add new item
      </button>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
      <button nz-button nzBlock  nzType="default">{{action}}</button>
    </nz-form-control>
  </nz-form-item>

</form>
