
<form nz-form [formGroup]="validateForm" (ngSubmit)="addNewRecipe()">

  <!--Title-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid title!">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
  </nz-form-item>

  <!--Image url-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imgUrl">URL to image</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid URL to image!">
      <input nz-input formControlName="imgUrl" id="imgUrl" />
    </nz-form-control>
  </nz-form-item>

  <!--Preparation time-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preparationTime">Preparation time (min)</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid preparation time!">
      <input nz-input formControlName="preparationTime" id="preparationTime" />
    </nz-form-control>
  </nz-form-item>

  <!--Difficult Level-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="difficultLevel">Difficul level</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid difficul level!">
      <nz-select nzPlaceHolder="Lower is easier" class="passenger-input"
        formControlName="difficultLevel" id="difficultLevel">
        <nz-option nzValue="1/5" nzLabel="1/5"></nz-option>
        <nz-option nzValue="2/5" nzLabel="2/5"></nz-option>
        <nz-option nzValue="3/5" nzLabel="3/5"></nz-option>
        <nz-option nzValue="4/5" nzLabel="4/5"></nz-option>
        <nz-option nzValue="5/5" nzLabel="5/5"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--Portions-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="portions">Portions</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid portions!">
      <input nz-input formControlName="portions" id="portions" />
    </nz-form-control>
  </nz-form-item>

  <!--Steps-->
  <nz-form-item *ngFor="let controlX of listOfControlStep; let i = index">
    <nz-form-label [nzSm]="6" [nzXs]="24" *ngIf="i == 0" [nzFor]="controlX.step">Steps </nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzOffset]="i == 0 ? 0 : 6"
      nzErrorTip="Please input next step or delete this field.">
      <input class="step-input" nz-input placeholder="" [attr.id]="controlX.id"
        [formControlName]="controlX.step" />
      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeFieldStep(controlX, $event)"></i>
    </nz-form-control>
  </nz-form-item>

  <!--Add step-->
  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span:12, offset: 6 }">
      <button nz-button nzType="dashed" class="add-button" (click)="addFieldStep($event)">
        <i nz-icon nzType="plus"></i>
        Add new step
      </button>
    </nz-form-control>
  </nz-form-item>

  <!--Ingredients-->
  <div class="items-flex">
    <nz-form-label >Ingredients </nz-form-label>

    <div class="w-first">
      
      <nz-form-item  *ngFor="let control of listOfControlIngredient; let i = index">
        
        <nz-form-control   nzErrorTip="Please select item to reservation.">

          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Choose ingredient" class="input-box"
            [formControlName]="control.ingredient" [attr.id]="control.id">
            <nz-option *ngFor="let ingredient of listOfIngredients " nzValue="{{ingredient.id}}"
              nzLabel="{{ingredient.product}} - jednostka: {{ingredient.unit}}">
              
            </nz-option>

          </nz-select>

          <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button delete-ingredent" (click)="removeField(control, $event)" ></i>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="w-last">
      <nz-form-item *ngFor="let controlQty of listOfControlQty; let i = index">
     
        <nz-form-control  nzErrorTip="Please select item to reservation.">
          <input type="number" id="qtyId-{{i}}" class="input-box" nz-input placeholder="Qty" [formControlName]="controlQty.qty" />
        </nz-form-control>
      </nz-form-item>
      
    </div>
  </div>
  <!--Add new field ingredients-->
  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 6 }">
      <button nz-button nzType="dashed" class="add-field" (click)="addFieldIngredient($event)">
        <i nz-icon nzType="plus"></i>
        Add new ingredient
      </button>
    </nz-form-control>
  </nz-form-item>

  <!--URL-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url">URL</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid URL!">
      <input nz-input formControlName="url" id="url" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 20, offset: 6 }">
      <button nz-button nzType="primary">Send recipe to database</button>
    </nz-form-control>
  </nz-form-item>

</form>
