<div *ngIf="recipe">
    <h1>{{recipe.title}} </h1>
    <div class="first-row">
        <div class="ingredients-row">
            <h2>Ingredients:</h2>
            <ul class="ingredients">
                <li class="ingredient" *ngFor="let item of ingredients; index as j">{{item.product}} -
                    <div *ngFor="let item of recipe.ingredients; index as i">
                        <div *ngIf="i==j" class="ingredient-qty">
                            {{item.qty}}
                        </div>
                    </div> {{item.unit}}
                </li>


            </ul>
        </div>
        <div class="steps">
            <h2>Steps:</h2>
            <ul>
                <li *ngFor="let item of recipe.steps">{{item}}</li>
            </ul>
        </div>
        <div class="image"><img src="{{recipe.imgUrl}}" alt="image" class="imageRecipe">
            <div nz-row class="small-items">
                <div class="small-item"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                    {{recipe.preparationTime}} min</div>
                <div class="small-item"><i nz-icon nzType="pie-chart" nzTheme="outline"></i>
                    {{recipe.portions}} porcji</div>
                <div class="small-item"><i nz-icon nzType="dashboard" nzTheme="outline"></i>
                    {{recipe.difficultLevel}}</div>
            </div>
        </div>

    </div>





    <div class="bottom-beam">
        <div   class="favoritesActions">
            <div *ngIf="showAddToFavorite" class="btn-styles addToFavorite" (click)="addToFavorite()">
                Add to favorite
                <i nz-icon nzType="heart" nzTheme="outline"></i>
            </div>
            <div *ngIf="showDeleteFromFavorite" class="btn-styles deleteFromFavorite"
                (click)="deleteFromFavorite(recipe)">
                Delete from favorite
                <i nz-icon nzType="close" nzTheme="outline"></i>
            </div> 
            <button class="btn-styles" (click)="backToAllRecipes()">Zobacz wszystkie przepisy</button>

        </div>
        <div  >
            <div>
                <div class="check-website">
                    Full instructions can be found at: <a href="{{recipe.url}}"> <img
                            src="../../../../../assets/img/logo-lidl.jpg" alt="logo-lidl" class="logo-lidl">
                        <div class="logo-lidl-text">kuchnialidla.pl</div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>


<nz-alert nzType="success" nzMessage="Pomyślnie dodano do ulubionych" nzShowIcon *ngIf="showAddToFavoriteAlert">
</nz-alert>
<nz-alert nzType="warning" nzMessage="Pomyslnie usunięto z ulubionych" nzShowIcon *ngIf="showDeleteFromFavoriteAlert">
</nz-alert>