@import "./src/variables.scss";

.imageRecipe {
    width: 100%;
}
ul {
    list-style-type: decimal;
    li {
        margin-top: 10px;
    }
}
.small-item {
    text-align: center;
    font-size: 1.5em;
}

.favoritesActions {
    cursor: pointer;
}

nz-alert {
    position: absolute;
    top: 10vh;
    right: 5vw;
}

.ingredients {
    counter-reset: section;
}
.ingredient {
    display: flex;
}

.ingredient:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -20px;
}
.ingredient-qty {
    margin: 0 5px;
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
.check-website {
    text-align: right;
}
.btn-styles {
    width: 15em;
    height: 3em;
    background-color: $color-5;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.addToFavorite,
.deleteFromFavorite {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-4;
    margin-bottom: 15px;
}

.btn-styles:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(94, 94, 94, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(94, 94, 94, 1);
    box-shadow: 0px 0px 5px 0px rgba(94, 94, 94, 1);
    transition: 0.3s;
}
.small-item {
    margin-top: 2rem;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 27%);
    padding: 1em;
    border-radius: 5%;
    i {
        margin-right: 10px;
    }
}
.small-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.bottom-beam {
    position: fixed;
    bottom: 3em;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @include respond-below(sm) {
        bottom:0;
        .check-website{
            margin-top: 1rem;
        }
        position: relative !important;
        flex-direction: column !important;
        width: 100%;
        .favoritesActions{
            width: 100%;
            i{
                margin-left: 5px;
            }
            .deleteFromFavorite,
            .addToFavorite, 
            button{
                width: 100%;
                justify-content: center;
            }
        }
    }
}
.check-website {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1rem;
        background-color: $text-color;
    }
    .logo-lidl {
        height: 5em;
    }
    .logo-lidl-text {
        height: 100%;
        text-transform: uppercase;
        color: white;
        margin-left: -1px;
        padding-left: 5px;
        font-size: 1em;
    }
}

.first-row {
    display: flex;
    flex-direction: row;
    width: auto;
    @include respond-below(sm) {
        h2{
        }
        flex-direction: column-reverse;
        ul{
            padding:1rem !important;
        }
        .small-items {
            flex-direction: column;
            .small-item {
                width: 100%;
            }
        }
        flex-direction: column-reverse;
        .ingredients-row {
            width: 100% !important;
        }
        .steps {
            margin-top: 1rem ;

            width: 100% !important;
        }
        .image {
            margin-left: 0% !important;
            width: 100% !important;
        }
    }
    .ingredients-row {
    }
    .steps {
        width: 30%;
    }
    .image {
        margin-left: 5%;
        width: 45%;
    }
}
